### Q1.

ineuron 
ineuron ineuron 
ineuron ineuron ineuron 
ineuron ineuron ineuron ineuron

In [1]:
for i in range(4):
    for j in range (i+1):
        print ("ineuron",end=" ")
    print ("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

### Q2. for star pattern

      ineuron       
  ineuron ineuron   
ineuron ineuron ineuron 
  ineuron ineuron   
      ineuron

In [2]:
n=int(input())
s="ineuron "
for i in range(n):
    if i ==0 :
        print (s.center(n*4,' '))
    elif n/i > 2:
        print ((s*(i+1)).center(n*4," "))
    elif n/i == 2:
        print ((s*i).center(n*4," "))
    elif n/i < 2:
        print ((s*(n-i)).center(n*4," "))

5
      ineuron
  ineuron ineuron
ineuron ineuron ineuron
  ineuron ineuron
      ineuron

In [3]:
l = [[1,2,3,4], (2,3,4,5,6),(3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),
     {'k1':"sudh", 'k2':"ineuron", 'k3':"kumar", 3:6,7:8}, ["ineuron", "data science"]]

### Q3. Try to extract all the list entity

In [4]:
for i in l:
    if type (i)== list:
        print (i)

[1, 2, 3, 4]
['ineuron', 'data science']

### Q4. Try to extract all the dict entity

In [5]:
for i in l:
    if type (i)==dict:
        print (i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

### Q5. Try to extract all the tuple entity

In [6]:
for i in l:
    if type (i)==tuple:
        print (i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

### Q6. Try to extract all the numerical data it may be a part of dict key and values

In [7]:
for i in l:
    if type (i)== list:
        for j in i:
            if type(j)==int:
                print(j)
    elif type (i)== tuple:
        for k in i:
            if type (k)==int:
                print(k)
    elif type(i)==dict:
        l5=(i.keys())
        l6=(i.values())
        for m in l5:
            if type (m)==int:
                print(m)
        for n in l6:
            if type (n)==int:
                print(n)
        for i in l:
            if type (i)==set:
                for j in i:
                    if type (j)==int:
                        print(j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
3
7
6
8
45
4
5
23

### Q7. Try to give summation of all numeric data

In [8]:
count=0
for i in l:
    if type (i)== list:
        for j in i:
            if type(j)==int:
                count=count+j
    elif type (i)== tuple:
        for k in i:
            if type (k)==int:
                count=count+k
    elif type(i)==dict:
        l5=(i.keys())
        l6=(i.values())
        for m in l5:
            if type (m)==int:
                count=count+m
        for n in l6:
            if type (n)==int:
                count=count+n
        for i in l:
            if type (i)==set:
                for j in i:
                    if type (j)==int:
                        count=count+j
print (count)

156

### Q8. Try to filter out all the odd values out all numeric data which is a part of a list

In [9]:
l6=[]
for i in l:
    if type (i)==list:
        for j in i:
            if type(j)==int:
                if j %2 !=0:
                    print(j)

1
3

### Q9. Try to extract "ineuron" out of this data

In [10]:
for i in l:
    if type(i)==list:
        for j in i:
            if j == "ineuron":
                print(j)
    if type(i)== dict:
        for k in i:
            if i[k]=="ineuron":
                print(i[k])

ineuron
ineuron

### Q10. Try to find out a number of occurances of all the data

In [11]:
l9=[]
for i in l:
    if type (i) != dict:
        for j in i :
            l9.append(j)
    elif type (i) == dict:
        for k in i:
            l9.append(k)
            l9.append(i[k])
for i in set(l9):
    print (i,":",l9.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k2 : 1
k3 : 1
8 : 1
kumar : 1
sudh : 1
45 : 1
data science : 1
ineuron : 2
23 : 1
k1 : 1

### Q11. Try to find out number of keys in dict element

In [12]:
l10=[]
for i in l:
    if type (i)==dict:
        for j in i:
            l10.append(j)
print ("number of keys in dict are ",len(l10))

number of keys in dict are  5

In [13]:
l10

['k1', 'k2', 'k3', 3, 7]

### Q12. Try to filter out all the string data

In [14]:
for i in l:
    if type(i)== dict:
        for j in i:
            if type (j)==str or type(i[j])==str:
                print(j)
                print(i[j])
    elif type (i)==list:
        for k in i :
            if type (k)==str:
                print(k)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

### Q13. Try to find out alphanum in data

In [15]:
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                if j.isalnum:
                    print (j)
    elif type(i)==dict:
        for k in i:
            if type(k) == str:
                if k.isalnum:
                    print(k)
            if type(i[k])==str:
                if (i[k]).isalnum:
                    print(i[k])

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

### Q14. Try to find out multiplication of all numeric value in the individual coolection inside dataset

In [16]:
for i in l:
    a=1
    if type(i)==list:
        for j in i:
            if type (j)==int:
                a=j*a
    if type(i)==tuple:
        for k in i:
            if type (k)==int:
                a=k*a
    if type(i)==set:
        for m in i:
            if type (m)==int:
                a=m*a
    if type(i)==dict:
        for n in i:
            if type(n)==int:
                a=n*a
            if type(i[n])==int:
                a=(i[n])*a
                
    print (a)

24
720
2520
20700
1008
1

In [17]:
for i in l:
    a=1
    if type(i) not in (str,float,dict):
        for j in i:
            if type (j)==int:
                a=j*a
    if type(i)==dict:
        for n in i:
            if type(n)==int:
                a=n*a
            if type(i[n])==int:
                a=(i[n])*a
                
    print (a)

24
720
2520
20700
1008
1

###  Q15. Try to unwrape all the coolection inside collection and create a flat list

In [18]:
l9=[]
for i in l:
    if type (i) != dict:
        for j in i :
            l9.append(j)
    elif type (i) == dict:
        for k in i:
            l9.append(k)
            l9.append(i[k])

In [19]:
l15=[]
for i in l:
    if type (i) !=dict:
        l15.extend(i)
    elif type(i) ==dict:
        l15.extend(i.keys())
        l15.extend(i.values())

In [20]:
l9

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']

In [21]:
l15

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'sudh',
 'ineuron',
 'kumar',
 6,
 8,
 'ineuron',
 'data science']