### Q1 : Try to print a prime number in between 1 to 1000

In [1]:
def prime():
    """function to get prime numbers from 1 to 1000"""
    l=[]
    for i in range (1,1000):
        a=0
        for j in range(2,i):
            if i % j ==0:
                a=1
        if a != 1:
            l.append(i)
    return l
print (prime())

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

### Q2: Try to write a function which  is equivalent  to print function in python

In [2]:
def myprint(*s):
    """function to replicte print function"""
    for i in s:
        return s
myprint(2,"sa",(2,6),[5,8],{"a":5})

(2, 'sa', (2, 6), [5, 8], {'a': 5})

### Q3 : Try to write a function which is a replica of list append , extend and pop function

In [3]:
def list_append(l,*s):
    """function to replicate list append"""
    if type (l)==list:
        for i in s:
            l=l+[i]
    return l
#example
print (list_append([2],"5",5,(5,6),{"a":5},"sant"))

[2, '5', 5, (5, 6), {'a': 5}, 'sant']

In [4]:
def list_exten(l,s):
    """function to replicate list extend"""
    if type (l)==list:
        for i in s:
            if type (i)==(str):
                for j in i:
                    l=l+[str(j)]
            elif type (i)==(list,tuple,set,dict):
                for k in i:
                    l=l+i[k]
    return l
#example
print (list_exten([2,3],"sant"))
print (list_exten([2,3],{"a":5,"b":6}))

[2, 3, 's', 'a', 'n', 't']
[2, 3, 'a', 'b']

In [5]:
def list_pop(l,index):
    """function to replicate list pop"""
    if type (l) == list and index !=-1 :
        l=l[0:index]+l[index+1:]
    else:
        l=l[:-1]
    return l
#example
l1=[2,3,6,8]
print (list_pop(l1,0))
print (list_pop(l1,2))

[3, 6, 8]
[2, 3, 8]

### Q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [6]:
def conc_str(*a):
    """joining strings"""
    for i in a:
        return "".join(a)

In [7]:
conc_str= lambda *a : "".join(i for i in a)

In [8]:
conc_str("a","b","c")

'abc'

### Q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [9]:
sq=lambda a: [i**2 for i in range(a)]

#exmaple for 10
print (sq(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### q6 : Try to write a 10 Different different example of lambda function with a choice of your taks

#### 1.filtering even values

In [10]:
def eve(*s):
    """filtering even values"""
    l=[]
    for i in s:
        if i%2==0:
            l.append(i)
    return l

In [11]:
even=lambda *a:[i for i in a if i%2==0]
even(2,3,5,6)

[2, 6]

### 2.get squares and cubes in a dictionary

In [12]:
l1=[]
l2=[]
def sq_cu(*a):
    """sqaure and cube of given numbersrepeats values specific no. of times for string, 2nd parameter should be integer"""
    for i in a:
        l1.append(i**2)
        l2.append(i**3)
    return ("square", l1,"cube", l2)

In [13]:
sqa_cub= lambda *a: {"square":[i**2 for i in a], "cube": [i**3 for i in a]}
sqa_cub(4,5,6)

{'square': [16, 25, 36], 'cube': [64, 125, 216]}

### 3. repeats values specific no. of times for string, 2nd parameter should be integer

In [14]:
def repeat(a,b):
    """repeating strings for the given number"""
    l=[]
    for i in a:
        for j in range(1,b+1):
            l.append(i*j)
    return l

In [15]:
repeat_l= lambda a,b : [i*j for i in a for j in range(1,b+1)]
repeat_l(["x","y"],5)

['x', 'xx', 'xxx', 'xxxx', 'xxxxx', 'y', 'yy', 'yyy', 'yyyy', 'yyyyy']

### 4. removes duplicate values and returns ordered list

In [16]:
def rem_dup(a):
    """set is used to remove duplicate values"""
    b=list(set(a))
    return b

In [17]:
rem_du = lambda a : list(set(a))
rem_du([4,3,2,5,3,4,3,"as",2.345])

[2, 3, 4, 5, 'as', 2.345]

### 5. returns index of vowels in a string.

In [18]:
def vow(b):
    """index of vowels"""
    l=[]
    for i in range(len(b)):
        if b[i].lower() in "aeiou":
            l.append(i)
    return (l)
#b[i].lower is used convert the specific alphabet to lower case if it is in uppercase
# in "aeiou" is nothing but "a" or "e" or "i" or "o" or "u"

In [19]:
vowels= lambda a : [i for i in range(len(a)) if a[i].lower() in "aeiou"]
vowels("hello wrold")

[1, 4, 8]

### 6. returns index where a string contains sub-string

In [20]:
def su(a,b):
    """getting index of specific word in a given string"""
    l=[]
    for i in range(len(a)-1):
        if (a[i:i+len(b)])== (b):
            l.append(i)
    return l

In [21]:
sub_string= lambda a,b : [i for i in range(len(a)-1) if (a[i:i+len(b)]==b)]
sub_string("your name is __ is this correct?is ","is ")

[10, 16, 21, 32]

### 7. convert list containing lists,tuple,set and string to flat list

In [22]:
def lis(*a):
    """converting to single list"""
    l=[]
    for i in a:
        for j in i:
            l.append(j)
    return l

In [23]:
sub_list=lambda *a : [j for i in a for j in i]
sub_list([1,2,3],('a','v'),{8,9})

[1, 2, 3, 'a', 'v', 8, 9]

### 8. converts dictionary into list with key:value pair as a single element

In [24]:
def dic_li(a):
    """'key:value' as a single pair"""
    l=[]
    for i,j in a.items():
        l.append(str(i)+":"+str(j))
    return l

In [25]:
dic_lis=lambda a: [str(i)+":"+str(j) for i,j in a.items()]
dic_lis({'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8})

['k1:sudh', 'k2:ineuron', 'k3:kumar', '3:6', '7:8']

### 9. removes spaces in a string

In [26]:
def sp(a):
    """removing space in the form of list of each word and then joining"""
    b=[]
    for i in a:
        if i!=" ":
            b.append(i)
    return (''.join(b))

In [27]:
def spl(a):
    b=[]
    for i in a:
        if i!=" ":
            b.append(i)
    return (b)

In [28]:
spl("hello how are you")

['h', 'e', 'l', 'l', 'o', 'h', 'o', 'w', 'a', 'r', 'e', 'y', 'o', 'u']

In [29]:
"".join(spl("hello how are you"))

'hellohowareyou'

In [30]:
rem=lambda a: ''.join([i for i in a if i!=" "])
rem("hello how are you")

'hellohowareyou'

In [31]:
#same thing using lambda in different method
remove_space=lambda a : a.replace(" ","")
remove_space("hello how are you")

'hellohowareyou'